.activity-information {
  text-align: left;

  font-size: 20px;
}

.grey-it {
  color: #4b5d67;
  font-weight: bold;
}

.key-details {
  max-width: 500px;
}

p {
  letter-spacing: 0.5px;
}

h1 {
  font-size: 25px;
}

/* .activity-description {
  font-size: 15px;
} */
