.MainNav {
  max-width: 1140px;
  width: 100%;
  color: #1b262c;
  padding: 35px;
  margin: 0 auto;
  display: flex;
}

.Nav {
  display: flex;
  margin-left: 220px;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .MainNav {
    flex-flow: column nowrap;
    background-color: #221f3b;
    position: fixed;
    top: 0;
    right: 0;
    height: 60vh;
    width: 100%;
    padding-top: 3.5rem;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .NavBrand,
  .username {
    display: none;
  }
}

.NavBrand {
  font-size: 30px;
  color: #1b262c;
}
li {
  padding-top: 10px;
}

.ercise {
  color: #4f8a8b;
}

.username {
  margin-left: 35px;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.NavElements,
.NavBrand,
.username {
  text-transform: uppercase;
}

.NavElements:hover,
.NavBrand:hover,
.ercise:hover {
  text-decoration: none;
  color: #ad9d9d;
}

Link,
.logout {
  padding-top: 10px;
}

.nav-border {
  margin: 0;
  padding: 0;
}
