.container {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  width: 500px;
  margin: auto;
}

form label {
  margin: 10px 20px;
  color: grey;
}

form input {
  margin: 10px 20px;
  padding: 8px;
}

form textarea {
  margin: 10px 20px;
  height: 100px;
  padding: 8px;
}

.button {
  width: 100px;
  height: 45px;
  margin: 30px auto;

  text-align: center;
}

.errorMessages {
  font-size: 15px;
  margin-left: 20px;
}
