.whole-container {
  text-align: center;
  height: 100vh;
}

/* .listing-container {
} */

.top-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.participants-container {
  width: 220px;
  margin-right: 10px;
}
.header {
  padding: 30px 0;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .top-container {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.join-button {
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fbe6d4;
  text-align: center;
  width: 150px;
  border-radius: 12px;
  font-size: 20px;
}

.join-button:hover {
  cursor: pointer;
}

.map-container {
  height: 400px;
  width: 400px;
}

.image-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: center;
}

.join-button-container {
  position: absolute;

  left: 83%;
}
